:global {
  @font-face {
		font-family: 'iconfont';
		src: url('./iconfont/iconfont.eot');
		src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
			url('./iconfont/iconfont.woff2') format('woff2'),
			url('./iconfont/iconfont.woff') format('woff'),
			url('./iconfont/iconfont.ttf') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* 编辑器的高度*/
  .public-DraftEditor-content {
    // height: 1455px;
  }

  /*文字选中效果*/
  *::selection {
    background-color: #e1f0fe;
    color: inherit;
  }

  *::-moz-selection {
    background-color: #e1f0fe;
    color: inherit;
  }

  *::-webkit-selection {
    background-color: #e1f0fe;
    color: inherit;
  }

  .formatBrush {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAUCAYAAACTQC2+AAAABGdBTUEAALGPC/xhBQAAATtJREFUSA3dlTFLA0EQhU+jlSkEG63EYGdlZZFG7QUbSyG/QP/C/Q0rqzQWQX+BwUKwtrexEFRQtFSI35NZWDa3soOHhQ8eM/v2zWw2N9xVVVUdwXUYoFxaq5il2wa8hvtG5dJaxYx16xFvLN8i3lmehiFC6Y94wbsTGsxZosajKA/7aewjrKZiyTocJO9DSYHT82r+YXyQs0eRfYBrD/Y1DB58OMyfeM/hrWq8N9qlZkmFBXiPPd6D7ikWUxwjrKWirTeJkzDeNYttKIxhDUuxiFGjfAnfMkUX3hs19emYqFt9P48mU6zVLEQPFjCfwgk8gyuwEd6pS5t0EQYmHhCXLZ8Kvz1oqmFO+H8HxVOXfZC5vwNd46y3xbx5ni1mQ4+dJ6NyDw4xX0GN9484YfcRhg+fcmmt408+5V99wSyVTWN94gAAAABJRU5ErkJggg==) 5 10, text;
  }
}

.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f9f9f9;
  
  .main {
    width: 100%;
    overflow-y: auto;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;

    .editor {
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
      width: 872px;
      height: 1455px;
      margin-top: 16px;
      padding: 20px 60px 90px 60px;
      background-color: white;
    }
  }
}
