client/**/*.svg
client/package.json
client/.umi
client/.umi-production
client//dist
client/.dockerignore
client/.DS_Store
client/.eslintignore
client/*.png
client/*.toml
client/docker
client/.editorconfig
client/Dockerfile*
client/.gitignore
client/.prettierignore
client/LICENSE
client/.eslintcache
client/*.lock
client/yarn-error.log