.body {
  &>div {
    display: block;
    width: 380px;
    margin: 0 auto;
    &>img {
      display: block;
      width: inherit;
    }
  }

  .item {
    display: inline-block;
    font-size: 16px;
    color: #333;

    &:hover {
      color: #00c1de;
    }
  }

  .item1 {
    transform: translate(174px, -400px);
  }

  .item2 {
    transform: translate(319px, -310px);
  }

  .item3 {
    transform: translate(322px, -143px);
  }

  .item4 {
    transform: translate(-135px, -147px);
  }

  .item5 {
    transform: translate(-133px, -310px);
  }
}